eureka:
  client:
    enabled: false
server:
  servlet:
    context-path: /example-path
  port: 0
spring:
  application:
    name: example-microservice
  datasource:
    url: jdbc:postgresql://localhost:5455/example-db-name
    username: testUser
    password: testPassword
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 10000
      maximum-pool-size: 10
      idle-timeout: 5000
      max-lifetime: 1000
      auto-commit: true
  flyway:
    locations: classpath:db/migration
    enabled: true
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
